<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QrCode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>186D7DDD1EB84BCD00E6AE39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>186D7DF61EB84BCE00E6AE39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>186D7E011EB84BCE00E6AE39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
